# ===================================================================
# Python
# ===================================================================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/

# ===================================================================
# PyTorch & Data
# ===================================================================
/data/
 /exp/

# Jupyter Notebook
.ipynb_checkpoints

# ===================================================================
# OS
# ===================================================================
# macOS
.DS_Store

# Windows
Thumbs.db
